Troy Morgan  
Week 9 Independent Lab  
BGEN 632, Graduate Introduction to Python  
Submitted 

Independent Lab: Inferential Statistics

# Notebook Setup

In [1]:
# load modules
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts # for QQ plot
from scipy.stats import pearsonr # correlation p-values
from sklearn.linear_model import LinearRegression # regression output
import statsmodels.formula.api as smf # ols regression

In [2]:
# Set working directory
os.chdir("\\Users\\troy.morgan\\Documents\\GitHub\\week9labs/data")  # change this to your filepath
os.getcwd()  # confirm change

'C:\\Users\\troy.morgan\\Documents\\GitHub\\week9labs\\data'

In [3]:
# Load California hospital data and do a quick inspection. 
ect_data = pd.read_table("ect_data.txt", delimiter='\t')
ect_data

,attitude1_01,attitude1_02,attitude1_03,attitude1_04,intent1_01,intent1_02,intent1_03,intent1_04,peruse01,peruse02,peruse03,peruse04,satis01,satis02,satis03,satis04
0,6,6,6,6,6,6,6,6,6,4,5,5,5,5,5,5
1,7,7,7,7,7,7,7,7,7,7,7,7,7,6,6,6
2,6,6,6,6,7,7,7,7,6,5,5,5,5,5,5,5
3,7,7,7,7,6,6,7,6,5,5,5,5,7,6,7,6
4,7,7,6,6,7,7,7,6,6,6,7,7,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,6,6,6,7,7,6,7,6,6,5,5,5,6,6,6,5
197,5,6,6,6,7,7,7,7,7,7,6,6,6,4,4,6
198,6,5,6,6,5,6,6,5,6,5,6,5,5,5,6,5
199,6,6,6,6,6,7,6,6,6,6,7,7,5,5,6,5
200,7,7,6,7,7,7,7,7,7,7,7,7,7,7,7,7